/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

/* NAVIGATION */
.nav {
    text-align: center;
    padding: 15px;
    background: #111827;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

.nav a:hover {
    color: #38bdf8;
}

/* HOME CENTER */
.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* Vertical center */
    align-items: center;       /* Horizontal center */
    text-align: center;
    background: linear-gradient(135deg, #6d28d9, #9333ea);
}

.home h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.role {
    font-size: 22px;
    color: #e0e0e0;
}

/* PAGE SECTION */
.page {
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;
    background: #1f2937;
    border-radius: 10px;
    text-align: center;
}

/* SKILLS */
.skill {
    display: inline-block;
    background: #8b5cf6;
    padding: 10px 18px;
    margin: 10px;
    border-radius: 25px;
}

/* PROJECT */
.project {
    background: #111827;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}
